@use './theme';


html, body {
  background: var(--color-bg);
  color: var(--color-acid-green);
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
}

.nav-item.active {
  color: theme('colors.glitch-aqua');
  font-weight: 800;
}

#post {
  #post-title {
    
    &.active,
    &:hover {
      color: var(--color-glitch-blue);
      cursor: pointer;
      font-weight: bold;
    }
  }
}

