<div class="flex justify-center items-center text-glitch-aqua bg-bg-alt text-[3em] h-[9vh]">
    Artur Sousa<sub class="pt-[0.8em] text-[0.5em] font-glitch">dev</sub>
</div>


<div class="flex justify-center items-center gap-2 md:gap-6 bg-bg-alt text-text-muted text-[0.9em] md:text-[1.1em] h-[4vh]">
  @for (item of navItems; track $index) {
    <span 
      class="nav-item px-2 md:px-4 text-lg md:text-xl hover:text-glitch-aqua hover:cursor-pointer hover:font-medium"
      routerLink="{{ item.route }}"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: item.route === '/' }"
      >
      {{ item.label }}
    </span>
    @if (!$last) {
      <span class="border-l border-gray-500 h-5 mx-1 md:mx-4"></span>
    }
  }   
</div>