<div class="flex justify-center items-center text-glitch-aqua bg-bg-alt text-[3em] h-[9vh]">
    Artur Sousa<sub class="pt-[0.8em] text-[0.5em] font-glitch">dev</sub>
</div>

<div id="sub-header" class="flex justify-center items-center gap-1 md:gap-5 bg-bg-alt text-metal-noise text-[0.9em] md:text-[1.2em] h-[4vh]">
  @for (item of navItems; track $index) {
    <span 
      class="nav-item px-2 md:px-4 text-lg md:text-xl"
      routerLink="{{ item.route }}"
      routerLinkActive="active">
      {{ item.label }}
    </span>
    @if (!$last) {
      <span class="border-l border-gray-500 h-5 mx-1 md:mx-4"></span>
    }

  }   
</div>
<router-outlet></router-outlet>