<section class="mx-auto max-w-3xl px-6 pt-[6vh] pb-[10vh] space-y-8">

  <div class="max-w-3xl mx-auto">
    <div id="summary" class="text-lg md:text-xl text-text-secondary leading-relaxed max-w-5xl">
      Computer science student at Universidade Federal do Piauí.
    </div>
    <div id="summary" class="text-lg md:text-xl text-text-secondary leading-relaxed mb-10 max-w-5xl">
      Focused on backend engineering, cloud infrastructure, and system security.
      This is a personal space for notes, experiments, and things I’m learning about how systems work, and fail.
    </div>

    <span class="text-2xl md:text-4xl font-primary text-text-primary tracking-wide block mb-2 pb-4 border-b border-gray-400">Recent Posts</span>

    <div id="post-containers" class="space-y-0">
      @if (hasError()) {
        <div class="flex flex-col items-center justify-center text-text-muted text-center">
          <p class="text-lg md:text-2xl text-text-muted pt-[3vh] max-w-xl">
            Content is currently unavailable.
            <span class="block text-sm md:text-md opacity-60 mt-1">
              Please try again later.
            </span>
          </p>
          <button
            class="mt-3 text-lg  underline text-text-muted hover:text-glitch-aqua hover:cursor-pointer"
            (click)="getAllPosts()"
          >
            Try again
          </button>
        </div>

      } @else if (postsSummary().length > 0) {
        @for (post of postsSummary(); track post.id) {
          <article
            id="post"
            class="group py-6 border-b border-white/10 last:border-0
                  flex flex-col gap-1 transition">

            <span class="text-xs text-text-muted tracking-wide">{{ post.date }}</span>

            <a
              [routerLink]="['/posts', post.id]"
              class="text-xl text-glitch-blue-soft font-medium
                    group-hover:underline underline-offset-4"
            >
              {{ post.title }}
            </a>

            <p class="text-text-secondary leading-relaxed max-w-xl">{{ post.description }}</p>
          </article>
        }

      } @else {
        <div class="flex flex-col items-center justify-center pt-[6vh] text-text-muted text-center">
          <span class="text-2xl uppercase tracking-widest opacity-60">
            nothing here yet
          </span>

          <span class="mt-2 text-sm opacity-50"> new posts will appear soon</span>
        </div>
      }

    </div>
  </div>
</section>