<section class="mx-auto max-w-3xl px-6 pt-[4vh] pb-[10vh] space-y-8">
  <div class="max-w-3xl mx-auto">
    <div id="summary" class="text-lg md:text-xl mb-10 text-text-secondary leading-relaxed max-w-5xl">
        <p class="pb-[0.1px]">Computer science student at Universidade Federal do Piauí.</p>      
        <p>        
          Focused on backend engineering, cloud infrastructure, and system security.
          This is a personal space for notes, experiments, and things I’m learning about how systems work, and fail.
        </p>
    </div>

    <span class="text-2xl md:text-4xl font-primary text-text-primary tracking-wide block mb-2 pb-4 border-b border-gray-400">
      Recent Posts
    </span>

    <div id="post-containers" class="space-y-0">
      @if (hasError()) {
        <div class="flex flex-col items-center justify-center text-text-muted text-center">
          <p class="text-lg md:text-2xl text-text-muted pt-[3vh] max-w-xl">
            Content is currently unavailable.
            <span class="block text-sm md:text-md opacity-60 mt-1">
              Please try again later.
            </span>
          </p>
          @if (isLoading()) {
            <span
              class="mt-5 inline-block h-4 w-4 animate-spin duration-10000 rounded-full border-2 border-transparent border-t-glitch-aqua">
            </span>
          } @else {
            <button
              class="mt-3 text-lg underline text-text-muted hover:text-glitch-aqua hover:cursor-pointer transition-all duration-200 flex items-center gap-2"
              (click)="getAllPosts()"
              [disabled]="isLoading()"
            >
            <span>Try again</span>
            </button>
          }
        </div>

      } @else if (postsSummary().length > 0) {
        @for (post of postsSummary(); track post.id) {
          <article
            id="post"
            class="group py-6 border-b border-white/10 last:border-0 flex flex-col gap-1 transition">

            <span class="text-xs text-text-muted tracking-wide">{{ post.date }} · {{ post.readingTimeMinutes }} min read</span>

            <div class="flex flex-col sm:flex-row sm:items-start sm:justify-between gap-1 sm:gap-6">
              <a
                [routerLink]="['/posts', post.id]"
                class="text-xl text-glitch-blue-soft font-medium group-hover:underline underline-offset-4 sm:max-w-[75%]"
              >
                {{ post.title }}
              </a>

              <div class="flex flex-wrap gap-2 text-xs text-text-muted sm:justify-end">
                <span
                  *ngFor="let tag of post.tags"
                  class="px-2 py-0.5 mb-1 border border-white/10 rounded
                        uppercase tracking-wide
                        hover:text-glitch-aqua hover:border-glitch-aqua/40
                        transition"
                >
                  {{ tag }}
                </span>
              </div>
            </div>

            <p class="text-text-secondary leading-relaxed">{{ post.description }}</p>
          </article>
        }

      } @else {
        <div class="flex flex-col items-center justify-center pt-[6vh] text-text-muted text-center">
          <span class="text-2xl uppercase tracking-widest opacity-60">
            nothing here yet
          </span>

          <span class="mt-2 text-sm opacity-50"> new posts will appear soon</span>
        </div>
      }

    </div>
  </div>
</section>